<div class="primarycontent">
            <div class="row">
               <div class="col">
                  <div class="row">
                     <div class="col-11">
                        <ul class="pricelist">
                           <li><span class="name">CT</span><span class="price">$ 250</span><span class="fileupload"><label for="file-input"><img src="assets/images/icon-fileupload.png" alt=""> </label>                                <input id="file-input" type="file" /></span></li>
                           <li><span class="name">Mammography <br>
(Screening only)</span><span class="price">$ 250</span><span class="fileupload"><img src="/assets/images/icon-fileupload.png" alt=""></span></li>
                           <li><span class="name">MRI</span><span class="price">$ 250</span><span class="fileupload"><img src="/assets/images/icon-fileupload.png" alt=""></span></li>
                           <li><span class="name">PET CT</span><span class="price">$ 250</span><span class="fileupload"><img src="/assets/images/icon-fileupload.png" alt=""></span></li>
                           <li><span class="name">Ultrasound</span><span class="price">$ 250</span><span class="fileupload"><img src="/assets/images/icon-fileupload.png" alt=""></span></li>
                           <li><span class="name">X-Ray</span><span class="price">$ 250</span><span class="fileupload"><img src="/assets/images/icon-fileupload.png" alt=""></span></li>
                        </ul>
                     </div>
                  </div>
                </div>
                <div class="col">
                  <img src="/assets/images/pricing.png" alt="">
               </div>
            </div>
         </div>