<ngb-carousel *ngIf="all_events">
  <ng-template ngbSlide  [ngClass]="slideitem" *ngFor="let event of all_events">
    <div class="details carouselblock">
       <div class="row row-eq-height no-gutters">
          <div class="col-3">
             <div class="info">
                        <img [src]="event.img" alt="">
                        <h3>{{ event.event }}</h3>
                        <h4>{{ event.eventSubHead }}</h4>
                        <p>{{ event.eventDescription }} <a href="#">Know more</a></p>
                      </div>
          </div>
          <div class="col-9">
            <div class="detailsexpanded">
              <p ><span class="label">Education</span></p>
              <p ><span class="label">Affiliations</span></p>
              <p><span class="label">Board Certification</span ></p>
               <p><span class="label">Awards and Publications</span></p>
            </div>
          </div>
        </div>
    </div>
  </ng-template>
</ngb-carousel>

