<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<div class="wrapper">
      <div class="container">
         <header>
            <nav>
               <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Teleradiology Services</a></li>
                  <li><a href="#">Our Radiologists</a></li>
                  <li><a href="#">Second Opinion</a></li>
                  <li class="signup"><a href="/createaccount">Sign Up</a></li>
               </ul>
            </nav>
         </header>
         <router-outlet></router-outlet>
      </div>
      <span *ngIf="loc !== ''">
      <footer>
           
               <div class="container-fluid">
                  <div class="row">
                     <div class="footerlogo col-2">
                        <img src="/assets/images/logo-footer.png" alt="Know my scan">
                     </div>
                     <nav class="footernav col-xl-8 col-lg-8">
                        <ul>
                           <li><a href="#">Upload Scan</a></li>
                           <li><a href="/price">Pricing</a></li>
                           <li><a href="#">Radiologists</a></li>
                           <li><a href="#">Reports</a></li>
                           <li><a href="#">My account</a></li>
                           <li><a href="#">Logout</a></li>
                        </ul>
                     </nav>
                     <div class="chat col-xl-2 col-lg-2">
                        <a href="#" class="btn btn-primary">Chat with us</a>
                     </div>
                  </div>
               </div>
          
         </footer>
      </span>
   </div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



