<div class="primarycontent">
            <div class="row">
               <div class="col">
                 <div class="row">
                    <div class="col-8">
                       <div class="row">
                          <div class="col">
                             <div class="list">
                                <a href="price.html"><img src="/assets/images/icon-pricing.png" alt="pricing">
                                Pricing</a>
                             </div>
                          </div>
                          <div class="col">
                             <div class="list">
                                <a href="#"><img src="/assets/images/icon-radiologist.png" alt="Radiologists"> 
                                Radiologists</a>
                             </div>
                          </div>
                       </div>
                       <div class="row">
                          <div class="col">
                             <div class="list image-upload">
                              <label for="file-input">
                                 <a><img src="/assets/images/icon-upload.png" alt="Upload Scan"> 
                                Upload Scan</a>
                                </label>
                                <input id="file-input" type="file" />
                             </div>
                          </div>
                          <div class="col">
                             <div class="list">
                                 <a href="#"><img src="/assets/images/icon-reports.png" alt="Reports"> 
                                Reports</a>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
                     
                   
                  <!-- e.o form -->
               </div>
               <div class="col">
                 <div class="row">
                    <div class="col-10">
                       <app-carousel></app-carousel>
                    </div>
                                   </div>
                 </div>
            </div>
            
            
         </div>