<div class="thankyou">
      <div class="container h-100">
        <div class="row align-items-center h-100">
          <div class="col my-auto">
            <div class="thankyoualert">
              <h1>Thank you</h1>
              <p>Your Payment is Successfully Done</p>
              <p class="uploading">Uploading your scan</p>
              <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="50"></div>
            </div>
        </div>
          </div>
        </div>
      </div>
   </div>