<div class="maincontent">
<div class="primarycontent ">
<div class="container">
   <div class="search">
     <form>
        <div class="form-group">   
            <div class="searchby">
              <input type="text" class="form-control searchbysubspeciality inputsearch" placeholder="Search by Subspeciality" id = "automplete-2"><span></span>
            </div>
        </div>
      </form>
   </div>

   <div class="searchbyresults">
<div class="container-fluid">
<!-- <app-multi-item-carousel>Loading ngx-bootstrap...</app-multi-item-carousel>--> 
<app-owl-carousel-multilist></app-owl-carousel-multilist>
  
</div>
</div>
</div>        

</div>
</div>